<html>
 <head>
 	<title>Nexus</title>
 	<link href="{{url_for('static',filename='css/bootstrap_flatly.min.css')}}" rel="stylesheet">
 	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.1.min.js')}}"></script>
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<style>
 		@-ms-viewport{
 			width: device-width;
 		}
 	</style>
 </head>

 <body>
 	<p>Welcome to my Homepage</p>

{% block basetemp %} {% endblock %}
{% block myblock %} {% endblock %}

 	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>